/* ================
        RESETS
===================*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

img {
    width: 100%;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* ================
        GLOBAL
===================*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
}

#app-wrapper {
    height: 100vh;
    width: 100%;
}

nav,
footer,
.upgrade {
    overflow: hidden;
}

/* ===============
       COMMON
==================*/
.txt-uppercase {
    text-transform: uppercase;
}

.txt-center {
    text-align: center;
}


.icon i{
    cursor: pointer;
}

/* ================
 Padding & Margins
=================== */

.pb-10 {
    padding-bottom: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* ================
    slider control
=================== */
.slider {
    border: 2px solid #5a5a5a;
    border-radius:2px;
    position:relative;
}

.slider.progress {
    border-color: #a3a3a3;
    position:absolute;
    left: -2px;
    top: -2px;
} 

.slider.progress:hover {
    cursor: pointer;
    border-color: #adff2f;
} 
.slider.progress:hover .cursor{
    display: block;
    font-size: 0.8rem;
}
.cursor-container {
    width: 100%;
    position: relative;
}

.cursor {
    position: absolute;
    display:none;
    /* vertical centering */
    top: 50%;
    left: 100%;
    transform: translateY(-50%)
}

/* ================
 Breakpoint's hidden
=================== */
.xs-visible {
    display: none;
}

/* ================
        MAIN
===================*/
main {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    height: calc( 100% - 80px);
}

/* =================
   main content 
==================== */
.main-content {
    background-color: #141922;
    flex: 1;
    overflow-Y: auto;
    /* padding top avoids overlapping of upgrade bar */
    padding: 80px 10px 10px;
}

.primary {
    font-size: 0.75rem;
    color: #7d7f84;
}

/* =================
   main content nav
==================== */ 
.main-nav ul {
    font-size: 0.85rem;
    color:#a3a3a3;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.main-nav li {
    padding: 20px 10px;
}

.main-nav a:hover {
    color: #fff;
}

.main-nav .active {
    padding-top:2px;
    width: 40%;
    margin:0 auto;
    border-bottom: 2px solid #adff2f;
}

.main h2 {
    font-weight: 900;
}

/* ===============
    album styling    
================== */
.album-container{
    display: flex;
    flex-flow: row wrap;
}
  
.album {
    width: calc( 100% / 6 );
    cursor: pointer;
    padding:10px 5px;
}

.album-cover {
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}

.album-cover.rounded {
    border-radius: 50%;
    overflow: hidden;
}

.album-cover .overlay {
    position:absolute;
    display:none;
    top:0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.album-cover:hover .overlay {
    display:block;
}

.album-cover .play {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}


/* =================
  recently played
==================== */


/* =================
  recommended
==================== */



/* ================
        NAV
===================*/

nav {
    flex: 0 0 240px;
    background-color: #000;
    color:#7d7f84;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

nav h2,
nav a:hover {
    color:#fff;
}

nav h2 {
    font-size: 0.85rem;
}

nav .logo,
nav .app-nav,
nav .playlist-menu,
nav .user {
    overflow: hidden;
}

nav > *:not(.app-nav) {
    padding-left:20px;
}

nav li {
    padding: 5px 0;
}

nav li.active {
    border-left:3px solid #adff2f;
    color: #fff;
}

nav .icon {
    vertical-align: middle;
    margin-right: 5px;
    width: 25px;
    display: inline-block;
}
/*   logo   */
.logo {
    flex: 0 0 80px;
    padding-top: 15px;
}

.logo-img {
    width: 150px;
}

.logo img.xs-visible {
    padding: 5px;
}
/*  app-menu    */
.app-nav li {
    padding-left: 20px;
}

/*  playlist-menu */
.playlist-menu {
    flex-grow: 1;
    min-height: 150px;
}

.playlist-menu .icon {
    background-color:#a3a3a3;
    color:#000;
    font-size:1.5rem;
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    color:#fff;
}

.button:hover .icon {
    background-color: #fff;
}

.playlist-menu ul {
    overflow-y: auto;
    height: 100%;
    min-height: 100px;
}

.playlist-menu li {
    padding: 10px 0;
}

/*  user menu */
.user {
    overflow:hidden;
    padding:10px 20px 10px 0;
}

.download-app {
    border-bottom: 1px solid #a3a3a3;
}
.dl-rounded-icon {
    margin: 0 auto;
    font-size: 0.5rem;
    height: 12px;
    width: 12px;
    border: 1px solid #a3a3a3;
    border-radius: 50%;
}

.user-name .icon {
    border-radius: 50%;
    background-color: #a3a3a3;
    overflow: hidden;
    height:25px;
}

.user-name {
    color: #fff;
    font-size: 0.9rem;
}
/* ================
        FOOTER
===================*/
footer {
    background-color: #282828;
    height: 80px;
    padding: 0 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* now playing */
.now-playing {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 0 1 220px;
}

.now-playing .song {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.now-playing .song-cover {
    width: 50px;
}

.now-playing .song-info {
    padding: 0 1%;    
}

.song-option {
    display: flex;
    flex-flow: row wrap;
}

.song-option i {
    padding: 0 5px;
    color:#7d7f84;
}

.song-option i:hover {
    color:#fff;
}

/* player */
.player {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 10px;
}
.player-controls {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-controls .icon {
    padding: 0 20px;
}

.player-controls .icon.play {
    font-size: 2rem;
}

.player-controls .icon.play:hover {
    font-size: 2.05rem;
}

/* player time */
.player-time  {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}

.song-length  {
    flex: 0 1 60%;
}

.song-length-bar {
    margin: auto 15px;
}

.song-length-bar .progress {
    width: 40%;
}
.elapsed, 
.duration {
    font-size: 0.6rem;
}

/* play-option */

.play-option {
    flex: 0 1 180px;
}

.play-option ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.play-option li {
    flex-grow: 1;
    padding: 0 3px;
}

.play-option li.volume {
    flex: 0 0 50%;
}

/* volume */
.volume .progress {
    width: 80%;
}


/* ================
        UPGRADE
===================*/
.upgrade {
    padding-right: 5px;
    height: 80px;
    position:fixed;
    top:0;
    right:0;
    background-color: rgba(0,0,0,0.6);
    text-align: right;
    /* width is 100% - nav width */
    width: calc( 100% - 240px);
}

.upgrade .button {
    font-size: 0.7rem;
    border: 1px solid #fff;
    border-radius:25px;
    padding: 10px 25px;
    /* line height equal to upgrade div height */
    line-height: 80px;
}

.upgrade .button:hover {
    font-size: 0.9rem;
}

/* XS media query  */
@media screen and ( max-width: 767px ) {
    /* breakpoint-visible */
    .xs-visible {
        display:inline;
    }

    /* matching .upgrade size to main */
    .upgrade {
        width: calc( 100% - 40px)
    }

    /* MAIN */
    /* album sizing */
    .album {
        width: calc( 100% / 2 );
    }

    /* nav */
    nav {
        flex: 0 0 40px;
        text-align: center;
        padding: 0px;       
    }

    nav li,
    .nav .user,
    nav > *:not(.app-nav) {
        padding-left: 0!important;
    }

    nav .icon {
        margin: 0px;
    }

    .xs-hidden {
        display: none;
    }

    nav .playlist-menu {
        min-height: unset;
    }
    nav .user {
        padding-right: 0;
        margin: 0 auto;
    }
    .download-app {
        border-bottom: 0;
    }

    /* FOOTER */
    /* padding goin from fixed to % */
    footer .player-controls .icon {
        padding: 0 3%;
    }
}

/* SM media query  */
@media screen and ( min-width: 768px ) and ( max-width: 991px ) {
    /* MAIN */
    /* album sizing */
    .album {
        width: calc( 100% / 2 );
    }

}

/* MD media query  */
@media screen and ( min-width: 992px ) and ( max-width: 1199px ) {
    /* MAIN */
    /* album sizing */
    .album {
        width: calc( 100% / 4 );
    }
}

/* LG media query  */


